<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="renderA">a</div>
    <div v-if="renderA">b</div>
    <div v-if="renderA">c</div>
    <div v-if="renderB">d</div>
    <div v-if="renderB">e</div>
    <div v-if="renderC">f</div>
    <div v-if="renderC">g</div>
    <button @click="go">GO</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data() {
        return{
          renderA: true,
          renderB: false,
          renderC: false,
        }
      },
      methods: {
        go() {
          temp = this.renderA;
          this.renderA=this.renderC;
          this.renderC=this.renderB;
          this.renderB=temp;
        }
      }
    })
    
  </script>
</body>
</html>